@model Epam.AspNet.Module1.Models.Product
@{
    ViewData["Title"] = "Product";
}

<h1>Product</h1>
<form method="post" action="/products/edit">
    @Html.ValidationSummary()
    <div>
        @Html.HiddenFor(p => p.ProductID)
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            @Html.LabelFor(p => p.ProductName)
            @Html.TextBoxFor(p => p.ProductName, new { @class = "form-control" })
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(p => p.QuantityPerUnit)
            @Html.TextBoxFor(p => p.QuantityPerUnit, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            @Html.LabelFor(p => p.UnitPrice)
            @Html.TextBoxFor(p => p.UnitPrice, new { @class = "form-control" })
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(p => p.UnitsInStock)
            @Html.TextBoxFor(p => p.UnitsInStock, new { type = "number", @class = "form-control" })
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            @Html.LabelFor(p => p.UnitsOnOrder)
            @Html.TextBoxFor(p => p.UnitsOnOrder, new { type = "number", @class = "form-control" })
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(p => p.ReorderLevel)
            @Html.TextBoxFor(p => p.ReorderLevel, new { type = "number", @class = "form-control" })
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            @Html.LabelFor(p => p.Supplier)
            @Html.DropDownListFor(p => p.SupplierID, (IEnumerable<SelectListItem>)ViewBag.Suppliers, null, new { @class = "form-control" })
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(p => p.Category)
            @Html.DropDownListFor(p => p.CategoryID, (IEnumerable<SelectListItem>)ViewBag.Categories, null, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            @Html.CheckBoxFor(p => p.Discontinued, new { @class = "checkbox" })
            @Html.LabelFor(p => p.Discontinued)
        </div>
    </div>


    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary">
        @if (TempData["SaveMessage"] is string s)
        {
            <i>@s</i>
            TempData["SaveMessage"] = null;
        }
    </div>
</form>


