@model List<Epam.AspNet.Module1.Models.Product>
@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>
<a asp-action="New">New product</a>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Category</th>
        <th>Supplier</th>
        <th>Quantity per Units</th>
        <th>Unit Price</th>
        <th>Units in Stock</th>
        <th>Units in Order</th>
        <th>Reorder Level</th>
        <th>Is Discontinued?</th>
        <th>Action</th>
    </tr>
    @foreach (var prod in Model)
    {
        <tr>
            <td>@prod.ProductID</td>
            <td>@prod.ProductName</td>
            <td>@prod.Category.CategoryName</td>
            <td>@prod.Supplier.CompanyName</td>
            <td>@prod.QuantityPerUnit</td>
            <td>@prod.UnitPrice</td>
            <td>@prod.UnitsInStock</td>
            <td>@prod.UnitsOnOrder</td>
            <td>@prod.ReorderLevel</td>
            <td>@(prod.Discontinued ? "Yes" : "")</td>
            <td><a asp-action="Edit" asp-route-id="@prod.ProductID">Edit</a></td>
        </tr>
    }
</table>


